* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

input {
  text-transform: none;
}

:root {
  --text-bg: rgb(200, 198, 198);
  --text-primary: #db4444;
  --text-secondary: rgb(200, 198, 198);
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.no-caret::after {
  display: none !important;
}

a {
  text-decoration: none;
  /* border-bottom: 2px solid #7d8184; */
  color: var(--text-secondary);
}

/* start item heading */
.items-heading {
  color: var(--text-primary);
  position: relative;
  display: inline-block;
  transition: all 0.5s;
}

.items-heading:hover {
  color: white !important;
  cursor: pointer;
}

.items-heading::before {
  content: "";
  width: 18%;
  height: 50px;
  background-color: #dc3545;
  border-radius: 6px;
  position: absolute;
  left: -28px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1 !important;
  transition: all 0.8s;
}

.items-heading:hover::before {
  width: 150%;
}
/* end item heading */

.fs-8 {
  font-size: 13px;
}

.w-65 {
  width: 65%;
}

.invalid-feedback {
  min-height: 1.2em;
  font-size: 12px;
}

.toast-success,
.toast-error,
.toast-warning ,
.toast-info {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -100px);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  z-index: 100000;
  width: fit-content;
  padding: 10px 25px;
  border-radius: 15px;
  opacity: 0;
  pointer-events: none;
}
.toast-warning {
  background-color: #fff3cd;
  color: #664d03;
}
.toast-info {
  background-color: #d1ecf1;
  color: #664d03;
}
.toast-success {
  color: green;
  background-color: #d4edda;
}

.toast-error {
  background-color: red;
  color: white;
}

.toast.show {
  transform: translate(-50%, 20px);
  opacity: 1;
  pointer-events: auto;
}

.btn--primary {
  background-color: var(--text-primary);
  color: white;
}

.btn--primary:hover,
.btn--primary:active,
.btn--primary:visited {
  background-color: #ee3838;
}

.text--primary {
  color: var(--text-primary);
}

.text--secondary {
  color: var(--text-secondary);
}

.form-control::placeholder {
  font-size: 12px;
}

.no-outline:focus {
  outline: none;
  box-shadow: none;
}
exclusive-header {
  p {
    color: rgb(200, 198, 198);
  }

  .dropdown-menu {
    background: rgb(102 100 100 / 80%) !important;
    backdrop-filter: blur(5px) !important;
    color: #fff !important;
  }

  a {
    border-bottom: 2px solid #7d8184;
  }

  .dropdown-item:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.footer {

  .col {
    min-width: 245px;
  }

  .footer__barcode {
    max-width: 90px;
  }

  .place-items-center {
    place-items: center;
  }

  .footer__rights>p {
    border-color: rgb(94, 93, 93);
    color: rgb(94, 93, 93);
  }

  @media screen and (max-width: 768px) {
    .footer {
      input[type="email"] {
        width: 100% !important;
      }

      /* ul>  .nav-item{
        font-size: 13px;
      } */
    }
  }
}

@media (max-width: 991px) {

  .toast-success,
  .toast-error {
    text-align: center;
    width: 300px;
  }

  .container {
    width: 100% !important;
  }
}


.moveAnimation {
  animation: move 1s infinite;
}
@keyframes move {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(20px);
  }
  75% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(40px);
  }
}

.section__pin {
  position: relative;
  display: inline-block;
  transition: all 0.5s;
  font-weight: 600;
  color: var(--text-primary);
  margin-left: 35px;
}

.section__pin:hover {
  color: white !important;
  cursor: pointer;
}

.section__pin::before {
  content: "";
  width: 20px;
  height: 40px;
  background-color: var(--text-primary);
  border-radius: 4px;
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1 !important;
  transition: all 0.8s;
}

.section__pin:hover::before {
  width: 150%;
}
.section__pin__alt:hover::before {
  width: 220%;
}


.custom-control-input:checked + .custom-control-label {
  background-color: var(--text-primary);
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}