 
.contact_Details,
.contact_form {
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}

.contact_form input , .contact_form textarea{
    background-color: #F5F5F5;
    border: none;
}
.contact_form input:focus ,.contact_form textarea:focus{
    background-color: #F5F5F5;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    border: #F5F5F5;

 }
.contact_form textarea:focus{
border: 1px solid transparent;
}
  .icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 24px;
  }
  
  .icon-circle{
    background-color: #DB4444;
  }
  .icon-circle i{
    color: white;
    height: ;
  }
 